<div class="container">
    <h2>About Me</h2>
    <div class="flex-about">
        <div class="zen-kaku-gothic-new-regular">
            <p>
                私はこれまで、デザインからウェブ開発、システム構築まで幅広い分野で経験を積んできました。
            </p>
                <p>
                DTP業務を通じてビジュアルデザイン経験とillustrator、photoshop使用経験やWebサイト制作、
                    WordPress構築、Webアプリケーション、API開発やLINEアプリ制作に携わり、<br />
                サーバー設定からアプリ設計・実装まで一貫して担当した経験を通して、<br />
                Linux、PHP、Javascript、Node、ReactやTypescriptなどの知識、
                Webデザイン、バックエンドおよびフロントエンドの理解を有しています。
            </p>
        </div>
    </div>
</div>