<div class="section-light about-me pt-6" id="about-me">
    <div class="container">
        <section class="section" id="about">
            <!-- Title -->
            <div class="section-heading">
                <h3 class="title is-2">About Me</h3>
                <div class="container">
                    <p class="is-larger">
                        私はこれまで、デザインからウェブ開発、システム構築まで幅広い分野で経験を積んできました。
                    </p>
                    <br>
                    <p>
                        DTP業務を通じてビジュアルデザイン、illustrator、photoshop使用経験やWebサイト制作、WordPress構築、Webアプリケーション、API開発やLINEアプリ制作に携わり、<br />
                        サーバー設定からアプリ設計・実装まで一貫して担当した経験を通して、<br>
                        Linux、PHP、Javascript、Node、ReactやTypescriptなどの知識、Webデザイン、バックエンドおよびフロントエンドの理解を有していますが、<br>
                        フロントエンド開発とWebデザインを得意としています。
                    </p>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <!-- Profile -->
                    <div class="card">
                        <div class="card-content">
                            <h3 class="title is-4">Profile</h3>

                            <div class="content">
                                <table class="table-profile">
                                    <tbody><tr>
                                        <th colspan="1"></th>
                                        <th colspan="2"></th>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td>木村孝幸</td>
                                    </tr>
                                    <tr>
                                        <td>Birth:</td>
                                        <td>1962/12/22</td>
                                    </tr>
                                    <tr>
                                        <td>Address:</td>
                                        <td>東京都荒川区</td>
                                    </tr>
                                    <tr>
                                        <td>Phone:</td>
                                        <td>080-3322-9130</td>
                                    </tr>
                                    <tr>
                                        <td>Email:</td>
                                        <td>minion@exsample.me</td>
                                    </tr>
                                    </tbody></table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <!-- Profile picture -->
                    <div class="card">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="assets/366-600x375.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <!-- Skills -->
                    <div class="card">
                        <div class="card-content skills-content">
                            <h3 class="title is-4">Skills</h3>
                            <div class="content">

                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>JavaScript:</strong>
                                                <br>
                                                <progress class="progress is-small" value="80" max="100"></progress>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Node.js:</strong>
                                                <br>
                                                <progress class="progress is-small" value="70" max="100"></progress>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Next.js:</strong>
                                                <br>
                                                <progress class="progress is-small" value="60" max="100"></progress>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>HTML5/CSS3</strong>
                                                <br>
                                                <progress class="progress is-small" value="80" max="100"></progress>
                                            </p>
                                        </div>
                                    </div>
                                </article>

                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>PHP</strong>
                                                <br>
                                                <progress class="progress is-small" value="56" max="100"></progress>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>