<div class="container pb-4 is-size-7">
	<div class="columns">
		<p class="column is-2 is-offset-7">&copy; {% year %} Takayuki.K's Portfolio</p>
		<p class="column is-1">SSG By <a href="https://www.11ty.dev/" target="_blank">11ty</a></p>
		<p class="column is-2">CSS Framework By <a href="https://bulma.io/" target="_blank">BULMA</a></p>
	</div>
</div>
