<div class="header-wrapper">
    <section class="hero is-fullheight" id="topHero">
        <!-- Begin Hero Content-->
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="subtitle has-text-warning-75">Hey there, I'm</p>
                <h1 id="heroTitle" class="has-text-warning-60 ">Takayuki .K</h1>
                <h2 class="subtitle profession has-text-warning-70">Front end Designer | Developer</h2>
            <div class="column is-12 hero-menu-desktop has-text-centered is-fixed-top">
                <ul>
                    <li class="is-active">
                        <a href="#about-me">About Me</a>
                    </li>
                    {%- for item in metadata.items %}
                        {%- if item.url == page.url %}
                            <li>
                                <a href="{{item.url}}" class="navbar-item" aria-current="page">
                                    {{item.title}}
                                </a>
                            </li>
                        {%- else %}
                            <li>
                                <a href="{{item.url}}" class="navbar-item">
                                    {{item.title}}
                                </a>
                            </li>
                        {%- endif %}
                    {%- endfor %}
                </ul>
            </div>
            </div>
        </div>
        <!-- End Hero Content-->
    </section>
</div>
