<div class="header-wrapper">
    <section class="hero is-fullheight" id="topHero">
        <!-- Begin Hero Content-->
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="subtitle has-text-warning-75">Hey there, I'm</p>
                <h1 id="heroTitle" class="has-text-warning-60 ">Takayuki .K</h1>
                <h2 class="subtitle profession has-text-warning-70"><span class="accent-color">Front end</span> Designer | <span class="sub-color">Developer</span> </h2>
            <div class="column is-12 hero-menu-desktop has-text-centered is-fixed-top">
                <ul>
                    <li class="is-active">
                        <a href="#about-me">About Me</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/resumes">Resume</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <!-- End Hero Content-->
    </section>
</div>
