<div class="header-wrapper">
    <section class="hero is-large">
        <!-- Begin Hero Content-->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="subtitle">Hey there, I'm</h1>
                <h2 class="title">Takayuki.K</h2>
                <h1 class="subtitle profession">Front end Designer | Developer</h1>
            </div>
        </div>
        <!-- End Hero Content-->
{#        <div class="hero-foot ">#}
{#            <div class="hero-foot--wrapper">#}
{#                <div class="columns">#}
{#                    <div class="column is-12 hero-menu-desktop has-text-centered is-fixed-top">#}
{#                        <ul>#}
{#                            <li class="is-active">#}
{#                                <a href="#home">Home</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#about-me">About Me</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#services">Services</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#skills">Skills</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#my-work">My Work</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="#contact">Contact</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
    </section>
</div>
