
<nav id="navBar" class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
            <div id="nav_brand" class="pl-4 has-text-centered is-size-6 pr-4">
                <a href="/my_portfolio/" title="木村孝幸ポートフォリオ">My Portfolio</a>
            </div>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu is-justify-content-flex-end">
        <div class="navbar-start">
            {%- if page.url == "/" %}
                <a href="#about-me" class="navbar-item">About me</a>
            {%- else %}
                <a href="/my_portfolio/#about-me" class="navbar-item">About me</a>
            {%- endif %}

            {%- for item in metadata.items %}
                {%- if item.url == page.url %}
                    <a href="{{item.url}}" class="navbar-item" aria-current="page">
                        {{item.title}}
                    </a>
                {%- else %}
                    <a href="{{item.url}}" class="navbar-item">
                        {{item.title}}
                    </a>
                {%- endif %}
            {%- endfor %}
        </div>

    </div>
</nav>