
<nav id="navBar" class="navbar container" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
            <div id="nav_brand" class="pl-4 has-text-centered is-size-6 pr-4">
                <a href="/" title="木村孝幸ポートフォリオ">My Portfolio</a>
            </div>

        <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navMenu" class="navbar-menu is-justify-content-flex-end">
        <div class="navbar-start">
            <a href="#about-me" class="navbar-item" title="自己紹介">
                About me
            </a>

            <a href="#" class="navbar-item" title="職務経歴">
                Projects
            </a>

            <a href="#" class="navbar-item" title="履歴書">
                Resume
            </a>

        </div>

    </div>
</nav>
