<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Hello Bulma!</title>
	<link rel="stylesheet" href="/css/common.css">
	<script src="/js/showcase.js"></script>
</head>
<body>
		{% include "components/navbar.njk" %}
		{% block content %}
			{{ content | safe }}
		{% endblock %}
		{% include "components/footer.njk" %}

		<button class="button is-primary">Button</button>
		<button class="button is-link">Button</button>
		<button class="button is-info">Button</button>
		<button class="button is-success">Button</button>
		<button class="button is-warning">Button</button>
		<button class="button is-danger">Button</button>

		<div id="goTop">
			<button class="button is-info mb-1 mr-1" id="scrollTopButton" style="display: none">GoTop</button>
		</div>

		<!-- Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="js/showcase.js"></script>
		<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
		<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
		<script>
			AOS.init({
				easing: "ease-out",
				duration: 800,
			});
		</script>
<script>
	document.addEventListener('DOMContentLoaded', () => {

		// Get all "navbar-burger" elements
		const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

		// Add a click event on each of them
		$navbarBurgers.forEach( el => {
			el.addEventListener('click', () => {

				// Get the target from the "data-target" attribute
				const target = el.dataset.target;
				const $target = document.getElementById(target);

				// Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
				el.classList.toggle('is-active');
				$target.classList.toggle('is-active');

			});
		});

	});
</script>
</body>
</html>
<script src="/js/scrollToTop.js"></script>
