{% extends "layouts/base.njk" %}

{% block content %}
    {% include "components/projectHero.njk" %}
    <div class="project-layout section">
        <nav class="breadcrumb mt-1 has-succeeds-separator" aria-label="breadcrumbs">
            <ul class="is-size-7">
                <li><a href="/">top</a></li>
                <li><a href="/projects">projects</a></li>
                <li class="is-active"><a href="#" aria-current="page">{{ title }}</a></li>
            </ul>
        </nav>
        <div id="mdContent" class="section pt-0">
            <h2>{{title}}</h2>
            <p class="mb-6 is-size-5">期間 : {{ dateSpan }}</p>
            <div class="columns">
                {%- if image %}
                    <div class="column">
                        <img src="{{image}}" alt="image" class="banner-img mb-3" />
                        {%- if site_url %}
                            {% for site_link in site_url %}
                            <p><a href="{{ site_link }}" target="_blank">{{ site_link }}</a></p>
                            {% endfor %}
                        {%- endif %}
                    </div>
                {%- endif %}
                <div class="column">
                    {{ content | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}